@import "../../styles/variables.scss";
.main_container {
  margin-top: 5%;
  display: grid;
  grid-row-gap: 1%;
  color:$bg4;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;

  &__images{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5%;
    img{
      width: 375px;
      height: 500px;
      object-fit: cover;
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

    }
  }

  &__prices{
    width: 100%;

    &__headers{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      grid-column-gap: 5%;
    }

    &__history{
      display: grid;
      grid-row-gap: 5%;
      justify-items: center;

      &__stores{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        grid-column-gap: 10%;
        width: 100%;

        background-color: rgba(118, 171, 174, 0.4);
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        border-radius: 20px;


        &__prices{
          display: grid;
          grid-template-rows: auto auto auto;
        }


      }


    }



  }

}