@import "../../styles/variables.scss";

.main_container {
  margin: 5%;
  background-color: #202225;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main_container__carousel {
    margin-bottom: 20px; /* Adjust as needed */
  }

  .main_container__top_gallery {
    width: 70vw;

    &__items {
      background-color: #4a4c51; /* White with 5% opacity */
      border-radius: 20px;
      padding: 5%;
      display: grid;
      grid-template-columns: repeat(3, auto); /* Creates 3 columns of equal width */
      grid-row-gap: 5%;
      grid-column-gap: 5%;
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
  }
}